body {
  background: linear-gradient(135deg, #567ebe, #09101f);
  font-family: Arial, sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px #000;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

.login-container button {
  width: 70%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background: #16a34a;
}

.erro {
  color: #f87171;
  margin-top: 10px;
}
